<div>
<p>Autorem niniejszego serwisu jest  Aleksandra Żurawska. <br>
Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji), <br> przygotowanej pod kierunkiem dr. hab. Grzegorza Bilińskiego, prof. ASP,<br> na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.</p>
</div>