<p>
    <b>User:</b>
    <%= comment.user_id %>
  </p>
 
  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>

  
  <% if comment.user == current_user %>
  <p>
  <%= link_to 'Usuń', [comment.article, comment],
 			   :method => :delete,
               data: {:confirm => 'Jesteś pewien?'} %>
  </p>

  <% end %>

