<p>
 <%= comment.created_at.strftime("%d %B %Y") %>
 </p>
 <p>
    <b>
    <% if comment.user_id  && comment.user_id != 0 %>
    <%= comment.user.email %> pisze: 
    </b>
    <% else %>

     <b>Anonim pisze: </b>
    <% end %>
  </p>
 

  <p>
    <%= comment.body %>
  </p>

  
  <% if comment.user == current_user %>
  <p>
  <%= link_to 'Usuń', [comment.article, comment],
 			   :method => :delete,
               data: {:confirm => 'Jesteś pewien?'} %>
  </p>

  <% end %>
<hr>
