<p>
    <b>User:</b>
    <%= comment.user_id %>
  </p>
 
  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>

  <p>
  <%= link_to 'Delete', [comment.article, comment],
 			   :method => :delete,
               data: {:confirm => 'Are you sure?'} %>
</p>

