<%= form_for([@article, @article.comments.build]) do |f| %>

  <div class="form-group">
    <% f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  
  <div class="actions">
    <%= f.submit "Dodaj komentarz", class: 'btn btn-default' %>
  </div>
<% end %>

