/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body { color:white;
	/*background-color: #131627;*/
	background: linear-gradient(to right, #131627 , #827775 50%, #131627 )
}
nav a{	color: black; 
		background-color: #adc706;
		height: 40px;}


.navbar{
	margin-top: 20px;
	font-size: 0.9em;
	color: black;
	font-weight: bold;
	border-radius: 0px;
    margin-bottom: 0px;
    border: 0px; 
}
.container-fluid {
    background-color: #adc706;
    margin-right: auto;
    margin-left: auto;    
}

.navbar-nav > li > a {
   
   padding-top: 10px; 
    padding-bottom: 10px; 

}
a:hover, a:focus {
   color: #666a75;
  text-decoration: underline;
}
.nav > li > a:hover, .nav > li > a:focus {
  /* text-decoration: none; */
  background-color: #adc706;
}

.glyphicon-chevron-left{
	color: #adc706;
}
.glyphicon-chevron-right{
	color: #adc706;
}




/*
.panel-default{
	background-color: white;
	width: 300px;
}*/

.form-group{
	color:pink;
}
.panel-default {
	width: 70%;
	margin: auto;
	margin-top: 40px;
     border-color: white;
     color:black;
}
.panel-footer{
	background-color: white;
	color:black;
	  
}
.panel-footer > a{
		text-decoration: none;
	font-weight: bold;
	
}
.panel-footer > a:hover{
	color: #adc706;
	text-decoration: none;
	font-weight: bold;
}


footer {
	text-align: right;
	margin-right: 10%;
	margin-top: 40px;
}

.form-group > input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: white;
    background-image: none;
    color: rgb(0, 0, 0);
}